html,body{
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

body { padding-top: 50px; }

.navbar{
	margin-bottom: 0px;
}

.navbar-brand{
	padding: 8px 15px !important;
}

.padding-row-lg{
	height: 75px;
}

.padding-row-md{
	height: 50px;
}

.padding-row-sm{
	height: 25px;
}

.its-blue{
	color: #338ccc
}

.blurb-heading{
	margin-top: 0px;
}

.bottom-margin-sm{
	margin-bottom: 25px;
}

footer{
	background-color: #30373B;
	color: #AEC1C5 !important;
}

footer a{
	color: #AEC1C5 !important;
}

.large-font{
	font-size: 18px;
	line-height: 1.5em;
	font-weight: 300;
}

.grey-font{
	color: #949494;
}