#testimonial-carousel{
	height: 200px;
}

#testimonial-carousel .carousel-control.left,.carousel-control.right{
	background-image: none;
}

#testimonial-carousel .carousel-caption{
	color: #000 !important;
}